.Footer__wrapper {
    background-color: #343A40;
    margin-top: 10px;
    padding: 5px;
    height: 43.8px;
}

.Footer__copyright {
    color: white;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    margin-top: 7px;
}